.pul-payout {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;

  &--down {
    & .pul-payout__percentage {
      color: #e4520a;
    }
  }

  &__title {
    font-size: 21px;
    color: #ffffff;

    @media screen and (max-width: 1360px) {
      font-size: 16px !important;
    }

    @media screen and (max-height: 980px) and (max-width: 1920px) {
      font-size: 20px;
    }
  }

  &__percentage {
    font-size: 57px;
    color: #67e1ba;

    @media screen and (max-width: 1580px) {
      font-size: 35px;
    }

    @media screen and (max-width: 1360px) {
      font-size: 27px !important;
    }

    @media screen and (max-height: 980px) and (max-width: 1920px) {
      font-size: 47px;
    }

    @media screen and (max-height: 840px) and (max-width: 1920) {
      font-size: 37px;
    }
  }
}
