.gamers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px 13px;
  padding-right: 8px;
  max-height: 276px;
  overflow-y: auto;

  @media screen and (max-width: 1480px) {
    gap: 5px 13px;
  }
}
