.country,
.boost,
.award {
  position: absolute;

  &__icon {
    object-fit: cover;
    object-position: top;
  }
}

.country,
.boost {
  right: -4px;
}
.country {
  top: 0px;
  width: 17px;
  height: 10px;

  // @media screen and (max-width: 1480px) {
  //   top: -4px;
  //   right: -6px;
  //   height: 9px;
  //   width: 15px;
  // }

  // &__icon {
  //   @media screen and (max-width: 1480px) {
  //     height: 9px;
  //     width: 15px;
  //   }
  // }
}

.boost {
  top: 18px;
  width: 20px;
  height: 20px;

  // @media screen and (max-width: 1480px) {
  //   top: 7px;
  //   right: -2px;
  //   width: 10px;
  //   height: 10px;
  // }

  // &__icon {
  //   @media screen and (max-width: 1480px) {
  //     width: 10px;
  //     height: 10px;
  //   }
  // }
}

.award {
  bottom: 15px;
  left: 13px;

  // @media screen and (max-width: 1480px) {
  //   left: 6px;
  //   bottom: 24px;
  //   width: 12px;
  //   height: 13px;
  // }

  // &__img {
  //   @media screen and (max-width: 1480px) {
  //     width: 12px;
  //     height: 13px;
  //   }
  // }
}
